extends layout

block content
	h1(class="item-text") #{title}
	div(class= 'categories-container') 

		each item in item_list
			ul
				li
					a(href=item.url) #{item.name}
				|  #{item.description}
		else
			li There are no Items.
